*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 100%;
}

section
{
    display: flex;
    margin-top: 15%;
    margin-left: 30%;
}

.imagelist
{
    /* border: 2px solid yellow; */
    /* background-color: black; */
    width: 180px;
    height: 350px;
    background-color: black;
}

.imagelist img{
    height: 15%;
    width: 48%;
    /* padding: 20px; */
    box-shadow: 2px 2px 2px white;
    margin-left: 50px;
    margin-top: 20px;
}

.bannerimage img
{
    width: 510px;
    height: 350px;
}
